/*body {
    font-family: Arial, sans-serif;
    margin: 40px;
}*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form-container {
    border: 1px solid #888;
    padding: 20px 40px;
    width: 350px;
    margin: 0 auto;
  
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    box-sizing: border-box;
}

.picture-row {
    display: flex;
    gap: 8px;
}

.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px 16px;
}
