
@using FirstOrderKitModel
@model Unit
@{
    ViewData["Title"] = "GetUnitDetails";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/styles/unitdetails.css" rel="stylesheet" />
<div class="image-box">
      <img src="http://localhost:5239/Images/Units/@Model.UnitPicture" alt="Unit cyber">
</div>

<div class="text-box">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius augue ut felis cursus, a dictum nisi interdum.
        Nulla facilisi. Suspendisse potenti. Donec tincidunt orci in nisl hendrerit, nec volutpat massa posuere.
        Curabitur feugiat, magna sed tincidunt maximus, orci mauris vestibulum elit, in pulvinar risus lorem vel erat.
        Integer posuere, ligula nec porta tincidunt, ligula nisi laoreet lacus, vitae tincidunt lacus justo sed elit.
    </p>
</div>
//הוספת יותר פרמטרים מוסיפים דולר



