@using FirstOrderKitModel
@model RegistationViewModel
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/styles/signup.css" rel="stylesheet" />
<div class="form-container">
    @if (ViewBag.Error !=null)
    {
        <h1 class="errortitle">There was an error. Come back later!</h1>
    }
    <form asp-controller="guest" asp-action="Registration">
        <label>First name</label>
        <input asp-for="student.StudentFirstName" type="text" id="fname" placeholder="Placeholder">
        <span asp-validation-for="student.StudentFirstName" class="error"></span>

        <label>Last name</label>
        <input asp-for="student.StudentLastName" type="text" id="lname" placeholder="Placeholder">
        <span asp-validation-for="student.StudentLastName" class="error"></span>

        <label for="subject">Filter by subject</label>
        <label>City</label>
        <input asp-for="student.CityId" type="text" id="lname" placeholder="Placeholder">
        <span asp-validation-for="student.CityId" class="error"></span>
        <select id="city" asp-for="student.CityId">
            <option>Select</option>
            @foreach (City city in Model.cities)
            {
                <option value="@city.CityId">@city.CityName</option>
            }
         
        </select>

        <label>Telephone</label>
        <input asp-for="student.StudentTelephone" type="text" id="lname" placeholder="Placeholder">
        <span asp-validation-for="student.StudentTelephone" class="error"></span>

        <label>Address</label>
        <input asp-for="student.StudentAdrres" type="text" id="lname" placeholder="Placeholder">
        <span asp-validation-for="student.StudentAdrres" class="error"></span>

        <label for="picture">Picture</label>
        <input class="inputData" type="file"
               id="readerFile" onchange="getFileName()" />
        <input type="hidden" name="ReaderImage" id="readerImg" />
        <span asp-validation-for="student.StudentImage" class="error"></span>
      @*   <div class="picture-row">
            <input type="file" id="picture" accept="image/*">
            
        </div> *@

        <div class="buttons">
            <button type="reset">Restart</button>
            <button type="submit">Post</button>
        </div>
    </form>
</div>

