@using FirstOrderKitModel
@* @model Test *@
@{
    ViewData["Title"] = "TestHistory";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h1>TestHistory</h1>
<link href="~/styles/testhistory.css" rel="stylesheet" />
<section class="tests">
@*     @foreach (Test test in Model.Test)
    {
        <div class="test">
            <a href="http://localhost:5108/guest/GetTest/?testId=@test.TestId">
                <img src="http://localhost:5239/Images/Units/@unit.UnitPicture" alt="Unit cyber">
            </a>
            <p>@unit.UnitName</p>
        </div>
    } *@
</section>

<div class="container">
    <h1>Meitav test</h1>

    <div class="table-header">
        <span>Date</span>
        <span>Unit Name</span>
        <span>Unit Image</span>
    </div>

    <div class="row">
        <span>Date</span>
        <span>Unit Name</span>
        <div class="image-placeholder"></div>
    </div>

    <div class="row">
        <span>Date</span>
        <span>Unit Name</span>
        <div class="image-placeholder"></div>
    </div>

    <div class="row">
        <span>Date</span>
        <span>Unit Name</span>
        <div class="image-placeholder"></div>
    </div>

    <div class="row">
        <span>Date</span>
        <span>Unit Name</span>
        <div class="image-placeholder"></div>
    </div>
</div>