@using FirstOrderKitModel
@model OrderFirstKitViewModel

@{
    ViewData["Title"] = "ViewFirstKit";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/styles/guestpage.css" rel="stylesheet" />
<div class="container">
    <header>
       @*  <h1>Meitav test</h1> *@
       @*  <a href="#" class="signup">Sign up</a> *@
        <a href="http://localhost:5108/guest/" class="signup">Sign up</a>
    </header>
    <hr>
<section class="units">
    @foreach (Unit unit in Model.Units)
    {
        <div class="unit">
            <a href="http://localhost:5108/guest/GetUnitDetails/?unitId=@unit.UnitId">
                <img src="http://localhost:5239/Images/Units/@unit.UnitPicture" alt="Unit cyber">
            </a>
            <p>@unit.UnitName</p>
        </div>
    }
</section>
@* <div class="test">
    <a href="http://localhost:5108/guest/GetTest/?testId=@test.testId">
        <img src="http://localhost:5239/Images/Units/@test.TestName" alt="SAT">
    </a>
    <p>@test.TestName</p>
</div> *@

<aside class="filters">
    <form method="get" action="http://localhost:5108/guest/ViewFirstKit">
        <label for="subject">Filter by subject</label>
        <select id="subject" name="subjectId">
            @foreach (Subject subject in Model.Subject)
            {
                <option value="@subject.SubjectId">@subject.SubjectName</option>
            }
        </select>

        <label for="difficulty">Select by difficulty</label>
        <select id="difficulty" name="subjectId">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </form>
 @*    <label for="compiled">Tests that were compiled</label>
    <form method="get" action="http://localhost:5108/guest/GetTest">
        <select id="compiled">
            <option value="">Select</option>
            <option value="test1">Test 1</option>
            <option value="test2">Test 2</option>
            <option value="test3">Test 3</option>
        </select>
    </form> *@
</aside>
