@using FirstOrderKitModel
@model RequestNewTest
@{
    ViewData["Title"] = "RequestNewTest";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/styles/newtest.css" rel="stylesheet" />
<div class="form-container">
    <form asp-controller="" asp-action="">
        <label for="subject">Filter by subject</label>
        <select >
            <option>Select</option>
   @*          <option value="">Select</option>
            <option value="Analogies">Analogies</option>
            <option value="ReadingComprehension">ReadingComprehension</option>
            <option value="Diagrans">Diagrans</option>
            <option value="BasicMath">BasicMath</option>
            <option value="Sequences">Sequences</option>
            <option value="Instruction">Instruction</option>
            <option value="Geometry">Geometry</option>
            <option value="CalculateArea">CalculateArea</option>
            <option value="FigurativeAnalogies">FigurativeAnalogies</option>
            <option value="Summery">Summery</option> *@
            @foreach (Subject subject in Model.Subjects)
            {
                <option value="@subject.SubjectId">@subject.SubjectName</option>
            }
        </select>

        <label for="difficulty">Select by difficulty</label>
        <select >
            <option value="">Select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>

        <button type="button" class="post-btn">Post</button>
    </form>
</div>


