@using FirstOrderKitModel
@model List<TestQuestionViewModel>
@{
    ViewData["Title"] = "NewTestForm";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/styles/testform.css" rel="stylesheet" />
<div class="container">
    <h1>טופס מבחן</h1>

    <form>

        <!-- שאלות -->
      @*  // עשר פעם לולאה של זה ולהביא את השאלות מהמסד
        <div class="question">
            <label>שאלה 1</label>
            <select>
                <option>בחר</option>
                <option>אפשרות א'</option>
                <option>אפשרות ב'</option>
                <option>אפשרות ג'</option>
            </select>
        </div> *@
        @foreach (TestQuestionViewModel testQuestionViewModel in Model)
        {
            <p>
                @testQuestionViewModel.Question.QuestionText
            </p>
            <ul>
                <li>
                    @testQuestionViewModel.QuestionAnswer[0].AnswerText
                </li>
                <li>
                    @testQuestionViewModel.QuestionAnswer[1].AnswerText
                </li>
                <li>
                    @testQuestionViewModel.QuestionAnswer[2].AnswerText
                </li>
            </ul>
        }
        <button type="submit" class="submit-btn">submit</button>

    </form>
</div>
