@using FirstOrderKitModel
@model List<TestQuestionViewModel>
@{
    ViewData["Title"] = "NewTestForm";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/styles/testform.css" rel="stylesheet" />
<div class="container">
    <h1>טופס מבחן</h1>

    <form>
        @foreach (TestQuestionViewModel testQuestionViewModel in Model)
        {
            <p>
                @testQuestionViewModel.Question.QuestionText
            </p>
            <ul>
                <li>
                    @testQuestionViewModel.QuestionAnswer[0].AnswerText
                </li>
                <li>
                    @testQuestionViewModel.QuestionAnswer[1].AnswerText
                </li>
                <li>
                    @testQuestionViewModel.QuestionAnswer[2].AnswerText
                </li>
            </ul>
        }
        <button type="submit" class="submit-btn">submit</button>

    </form>
</div>
