@using FirstOrderKitModel
@{
    ViewData["Title"] = "RequestNewTest";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/styles/newtest.css" rel="stylesheet" />
<div class="form-container">
    <label for="subject">Filter by subject</label>
    <select id="subject">
        <option value="">Select</option>
        <option value="Analogies">Analogies</option>
        <option value="ReadingComprehension">ReadingComprehension</option>
        <option value="Diagrans">Diagrans</option>
        <option value="BasicMath">BasicMath</option>
        <option value="Sequences">Sequences</option>
        <option value="Instruction">Instruction</option>
        <option value="Geometry">Geometry</option>
        <option value="CalculateArea">CalculateArea</option>
        <option value="FigurativeAnalogies">FigurativeAnalogies</option>
        <option value="Summery">Summery</option>
    </select>

    <label for="difficulty">Select by difficulty</label>
    <select id="difficulty">
        <option value="">Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <button type="button" class="post-btn">Post</button>
</div>


