@using FirstOrderKitModel
@{
    ViewData["Title"] = "TestHistory";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<link href="~/styles/testhistory.css" rel="stylesheet" />
<div class="container">
    <h1>Meitav test</h1>

    <div class="table-header">
        <span>Date</span>
        <span>Unit Name</span>
        <span>Unit Image</span>
    </div>

    <div class="row">
        <span>Date</span>
        <span>Unit Name</span>
        <div class="image-placeholder"></div>
    </div>

    <div class="row">
        <span>Date</span>
        <span>Unit Name</span>
        <div class="image-placeholder"></div>
    </div>

    <div class="row">
        <span>Date</span>
        <span>Unit Name</span>
        <div class="image-placeholder"></div>
    </div>

    <div class="row">
        <span>Date</span>
        <span>Unit Name</span>
        <div class="image-placeholder"></div>
    </div>
</div>

