
@{
    ViewData["Title"] = "MasterPage";
}


    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        @* <link href="~/styles/guestpage.css" rel="stylesheet" /> *@
    <link href="~/styles/guestpage.css" rel="stylesheet" />
    </head>
    <body>

        <header class="header">
            <h1>Meitav test</h1>
        <a href="http://localhost/Guest/GetUnitDetails" class="login-link">Log in</a>

        <a href="http://localhost/Guest/View" class="tests-link">Tests</a>
        
        </header>
        @RenderBody()
    </body>
</html>



