
@{
    ViewData["Title"] = "MasterPage";
}


    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        @* <link href="~/styles/guestpage.css" rel="stylesheet" /> *@
    <link href="~/styles/guestpage.css" rel="stylesheet" />
    </head>
    <body>

        <header class="header">
            <h1 class="meitavtest">Meitav test</h1>
        <a href="http://localhost:5108/Student/ViewLoginForm" class="login-link">Log in</a>
        <a href="http://localhost:5108/Guest/GetTest" class="tests-link">Tests</a>
        <a href="rrv" class="about" >About</a>       
        </header>
        @RenderBody()
    </body>
</html>



